[Unit]
Description=QA Go API
After=network.target

[Service]
ExecStart=/opt/app/qa/start.sh
WorkingDirectory=/opt/app/qa/
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target